llama-index==0.9.48
torch==2.2.0
transformers==4.37.2
kuzu==0.2.0
python-dotenv==1.0.1
neo4j==5.17.0
jupyterlab==4.1.0
jupyterlab_execute_time>=3.1
spacy==3.7.2
spacy-llm==0.7.1
accelerate==0.27.0
langchain==0.1.6
span-marker==1.5.0
textgraphs==0.5.0
